<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow" />    <title>JORDANHO.ETH</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="container">
    <div class="content">
        <img id="userPhoto" src="img/floppy-986.png" alt="User Photo">

        <h1><a href="#" id="userName" rel="noopener">JORDANHO.ETH</a></h1>
        <div id="links">
            <a class="link" href="https://twitter.com/sneakstar"  rel="noopener">🐦 Twitter</a>
            <a class="link" href="https://airtable.com/shrK4Awe0jZJIKcEn" rel="noopener">👟 Sneakers</a>
            <a class="link" href="https://airtable.com/shrP7txAUtP47FcpY" rel="noopener">🖼️ IRL Art</a>
        </div>

        <footer>
            Keepin things simple </footer>
    </div>
</div>


</body>

</html>
